<div class="container-fluid">
	<div class="col-xs-6">
	  <h3 class="sub-header">League Info</h3>
	  <div class="table-responsive">
	    <table class="table table-striped">
			  <tr>
			    <th>Name</th>
			    <td><%= @league.name %></td>
			  </tr>
			  <tr>
			    <th>Cost</th>
			    <% if @league.is_payed == true %>
            <td>Paid</td>
          <% else %>
            <td>Free</td>
          <% end %>
			  </tr>
			  <tr>
			    <th>League Type</th>
		      <% if @league.league_type == "ffa" %>
            <td>Free For All</td>
          <% elsif @league.league_type == "h2h" %>
            <td>Head to Head</td>
          <% end %>
			  </tr>
			  <tr>
			    <th>Members </th>
			    <td><%= @league.teams_in_league %> / <%= @league.limit %></td>
			  </tr>
			  <tr>
			    <th>Membership</th>
			    <% if @league.is_private == true %>
            <td>Private</td>
          <% else %>
            <td>Public</td>
          <% end %>
			  </tr>
			  <tr>
			    <th>Commissioner</th>
			    <td><%= @commissioner.uname %></td>
			  </tr>
	    </table>
	  </div>
	  <% if @league.owner_id == session[:user_id] %>
			<h3 class="sub-header">Commissioner Info</h3>
		  <div class="table-responsive">
		    <table class="table table-striped">
		    	<tr>
		    		<td colspan="2">Settings link *cog*</t4></td>
		    	</tr>
				  <% if @league.is_private == true %>
					  <tr>
					    <td>Password</td>
					    <td><%= @league.password %></td>
					  </tr>
					<% end %>
				</table>
			</div>
		<% end %>

		<% if (!@teams_in_league.map(&:user_id).include? session[:user_id]) || (@league.owner_id == session[:user_id]) %>
			<label for="copyJoin">Join League URL:</label>
			<div>
				<%= link_to request.original_url+"/join" do %>
				  <%= content_tag :span, request.original_url+"/join", :id => "join_link" %>
				<% end %>
			</div>
			<button class="clipboard-btn btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#join_link">
			  Copy Link to Clipboard
			</button>
		<% end %>


	</div>
	<div class="col-xs-6">
	  <h3 class="sub-header">Members</h3>
	  <div class="table-responsive">
	    <table class="table table-striped">
	    	<thead>
          <tr>
            <th>Team Name</th>
            <th>User Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
        	<% @teams_in_league.each do |team| %>
        		<tr>
        			<td><%= team.name %></td>
        			<td><%= team.uname %></td>
        			<td>placeholder</td>
        		</tr>
        	<% end %>
        </tbody>
	    </table>
	  </div>
	</div>
</div>