<div class="container">
	<div class="container-fluid">
		<h1 class="nav navbar-nav pull-left">Week <%= @this_week %> Lineup</h1>
		<ul class="nav navbar-nav pull-right">
			<% if @this_week != 1.to_s %>
		    <li class="weekNav">
		    	<%= link_to weekly_path(:week_id => (@this_week.to_i - 1)), class: "btn btn-primary" do %>
				    <i class="glyphicon glyphicon-menu-left"></i> Prev
					<% end %>
		    </li>
		  <% end %>
	    <li class="weekNav">
			  <a class="btn btn-primary dropdown" type="button" data-toggle="dropdown">
			  	<% if @this_week.to_s === @current_week.to_s %>
			  		Current Week
			  	<% else %>
				    Week <%= @this_week %>
				  <% end %>
			  <span class="caret"></span></a>
			  <ul class="dropdown-menu">
			  	<% total_weeks = Array(1 .. 17) %>
			  	<% total_weeks.each do |week| %>
			  		<% if week === @current_week %>
				    	<li><%= link_to "Week "+week.to_s+" - Current", weekly_path(:week_id => week) %></li>
				    <% else %>
				    	<li><%= link_to "Week "+week.to_s, weekly_path(:week_id => week) %></li>
				    <% end %>
				  <% end %>
			  </ul>
			</li>
			<% if @this_week != 17.to_s %>
				<li class="weekNav">
					<%= link_to weekly_path(:week_id => (@this_week.to_i + 1)), class: "btn btn-primary" do %>
				    Next <i class="glyphicon glyphicon-menu-right"></i>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
	<form method="post">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<div class="container-fluid">
			<h3>QB</h3>
			<select class="player_select select100" name="qbs[]" multiple="multiple">
				<% @qb_players.each do |player| %>
	        <option value="<%= player.key %>"><%= player.name %></option>
	      <% end %>
	    </select>
		</div>

		<div class="container-fluid">
			<h3>RB</h3>
			<select class="player_select select100" name="rbs[]" multiple="multiple">
				<% @rb_players.each do |player| %>
	        <option value="<%= player.key %>"><%= player.name %></option>
	      <% end %>
	    </select>
		</div>

		<div class="container-fluid">
			<h3>WR</h3>
			<select class="player_select select100" name="wrs[]" multiple="multiple">
				<% @wr_players.each do |player| %>
	        <option value="<%= player.key %>"><%= player.name %></option>
	      <% end %>
	    </select>  
		</div>

		<div class="container-fluid">
			<h3>TE</h3>
			<select class="player_select select100" name="tes[]" multiple="multiple">
				<% @te_players.each do |player| %>
	        <option value="<%= player.key %>"><%= player.name %></option>
	      <% end %>
	    </select>
		</div>

		<div class="container-fluid">
			<h3>K</h3>
			<select class="player_select select100" name="ks[]" multiple="multiple">
				<% @k_players.each do |player| %>
	        <option value="<%= player.key %>"><%= player.name %></option>
	      <% end %>
	    </select>
		</div>

		<div class="container-fluid">
			<h3>Def</h3>
			<select class="player_select select100" name="defs[]" multiple="multiple">
				<% @d_players.each do |player| %>
	        <option value="<%= player.key %>"><%= player.name %></option>
	      <% end %>
	    </select>  
		</div>

		<div class="container-fluid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>