<div class="container">
	<div class="container-fluid">
		<h1 class="nav navbar-nav pull-left">Week <%= @this_week %> Lineup</h1>
		<ul class="nav navbar-nav pull-right">
			<% if @this_week != 1.to_s %>
		    <li class="weekNav">
		    	<%= link_to weekly_path(:week_id => (@this_week.to_i - 1)), class: "btn btn-primary" do %>
				    <i class="glyphicon glyphicon-menu-left"></i> Prev
					<% end %>
		    </li>
		  <% end %>
	    <li class="weekNav">
			  <a class="btn btn-primary dropdown" type="button" data-toggle="dropdown">
			  	<% if @this_week.to_s === @current_week.to_s %>
			  		Current Week
			  	<% else %>
				    Week <%= @this_week %>
				  <% end %>
			  <span class="caret"></span></a>
			  <ul class="dropdown-menu">
			  	<% total_weeks = Array(1 .. 17) %>
			  	<% total_weeks.each do |week| %>
			  		<% if week === @current_week %>
				    	<li><%= link_to "Week "+week.to_s+" - Current", weekly_path(:week_id => week) %></li>
				    <% else %>
				    	<li><%= link_to "Week "+week.to_s, weekly_path(:week_id => week) %></li>
				    <% end %>
				  <% end %>
			  </ul>
			</li>
			<% if @this_week != 17.to_s %>
				<li class="weekNav">
					<%= link_to weekly_path(:week_id => (@this_week.to_i + 1)), class: "btn btn-primary" do %>
				    Next <i class="glyphicon glyphicon-menu-right"></i>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>

	<div class="container-fluid">

	</div>
</div>