<h1>Players</h1>

<div class="container">
  <div class="col-xs-6">
    <table class="table-bordered">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Key</th>
          <th>Name</th>
          <th>Team</th>
        </tr>
      </thead>

      <tbody class="sortable">
        <% @qb_players.each_with_sortable_id do |player, sortable_id| %>
          <tr id="<%= sortable_id %>">
            <td><%= sortable_id %></td>
            <td><%= player.key %></td>
            <td><%= player.name %></td>
            <td><%= player.team %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-xs-6">
    <table class="table-bordered">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Key</th>
          <th>Name</th>
          <th>Team</th>
        </tr>
      </thead>

      <tbody class="sortable">
        <% @te_players.each_with_sortable_id do |player, sortable_id| %>
          <tr id="<%= sortable_id %>">
            <td><%= sortable_id %></td>
            <td><%= player.key %></td>
            <td><%= player.name %></td>
            <td><%= player.team %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid">
  <div class="col-xs-6">
    <table class="table-bordered">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Key</th>
          <th>Name</th>
          <th>Team</th>
        </tr>
      </thead>

      <tbody class="sortable">
        <% @rb_players.each_with_sortable_id do |player, sortable_id| %>
          <tr id="<%= sortable_id %>">
            <td><%= sortable_id %></td>
            <td><%= player.key %></td>
            <td><%= player.name %></td>
            <td><%= player.team %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-xs-6">
    <table class="table-bordered">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Key</th>
          <th>Name</th>
          <th>Team</th>
        </tr>
      </thead>

      <tbody class="sortable">
        <% @wr_players.each_with_sortable_id do |player, sortable_id| %>
          <tr id="<%= sortable_id %>">
            <td><%= sortable_id %></td>
            <td><%= player.key %></td>
            <td><%= player.name %></td>
            <td><%= player.team %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid">
  <div class="col-xs-6">
    <table class="table-bordered">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Key</th>
          <th>Name</th>
          <th>Team</th>
        </tr>
      </thead>

      <tbody class="sortable">
        <% @k_players.each_with_sortable_id do |player, sortable_id| %>
          <tr id="<%= sortable_id %>">
            <td><%= sortable_id %></td>
            <td><%= player.key %></td>
            <td><%= player.name %></td>
            <td><%= player.team %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-xs-6">
    <table class="table-bordered">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Key</th>
          <th>Name</th>
          <th>Team</th>
        </tr>
      </thead>

      <tbody class="sortable">
        <% @d_players.each_with_sortable_id do |player, sortable_id| %>
          <tr id="<%= sortable_id %>">
            <td><%= sortable_id %></td>
            <td><%= player.key %></td>
            <td><%= player.name %></td>
            <td><%= player.team %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%=  link_to("Repopulate DB", '/players/repopulate', method: :populate_db, class: "btn btn-xl btn-danger", data: { confirm: "This will wipe the DB. Are you sure?" }) %>